/* Semester Project | Bed & Breakfast | Kylee Parks */

/* Box-Sizing for all elements */
* {box-sizing: border-box;}

header, nav, main, footer { display: block; }

/* Styles for the Body*/
body {
	background-color: #354B25;
    font-family: Verdana, Arial, sans-serif;
}


/* Styles for the Wrapper*/
#wrapper { width: 960px;
           margin: auto;
		   background-color: #9BD770;
		   color: #330000;
		   box-shadow: 5px 5px 5px #000000;
}

/* Styles for Headings */
h1 { color: #1B3409;
	background-image: url(../images/logo.png);
     background-repeat: no-repeat;
     background-color: #66B032;
	 height: 120px;
	 font-family: Georgia, "Times New Roman", serif;
	 font-size: 3.5em;
     padding-left: 240px;
	 padding-top: 40px;
	 padding-bottom: 100px;
	 text-shadow: 3px 3px 3px #3F7718;
	 margin-bottom: 0;
}

h2 {
	color: #000000;
	font-size: 1.5em;
	font-family: Verdana, Arial, sans-serif;
}

h3 {
	color: #000000;
	font-family: Verdana, Arial, sans-serif;
}

/* Styles for Navigation*/
nav { padding-top: 10px;
      float: left;
      width: 200px;
}

nav ul { list-style-type: none; 
       padding-left: 20px;
	 }

nav li { padding-bottom: 5px;
       font-weight: bold;
}

nav a { text-decoration: none; }
nav a:link { color: #1B3409; }
nav a:visited{ color: #1B3409; }
nav a:hover { color: #D9F4C7; }

/* Styles for Main Content*/
main { background-color: #D9F4C7;
          margin-left: 200px;
          padding: 1px 20px 20px 20px;   
		  min-height: 300px;
}

/* Styles for details */
.details {
	float: left;
	padding: 0;
	overflow: auto;
}

/* class for one third */
.onethird {
	float: left;
	padding-right: 2em;
	padding-bottom: 2em;
}

main img { float: right;
              padding: 20px;
}

/* Styles for the Footer*/
footer { background-color: #66B032;
       margin-left: 200px;
       padding: 20px;
       text-align: center;
	   font-size: small;
	   font-style: italic;
}

/* styles for images */
img {padding: 0 10px;}

/* Hero styles */
#homehero {
	height: 300px;
	background-image: url(../images/scenery.png);
	background-repeat: no-repeat;
	background-size: 100% 100%;
}

